*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    height:100vh;
    background-color: gray;
   
}
.container{
    width: 30%;
    margin: auto;
    position: relative;
    top: 4rem;
}

.todo-wrapper{
   max-width:80%;
   margin:0 auto;

}
.todo-wrapper h1{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding:10px;
}
.todo{
    display: flex;
    margin-bottom:2rem;
    color:white;    
    align-items: center;
}
.input-btn{
    padding:17px 20px;
    color:white;
    background-color: #25273C;
    border:none;
}
.todo input{
    width:80%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color:white;
   }
   .todo input::placeholder{
       color:white;
     
   }
.todo button{
    width:20%;
   border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
   
}
.listStyle{
    background-color: #25273C;
    color:white;
    text-align: center;
    list-style: none;
    border-bottom:1px solid rgb(197, 197, 197);
    padding:5px 0px 4px 0px;
}
.listStyle:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.listStyle:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom:none;
}